.header { /*Styling the basics for the header, this is positioning the logo to the left and the text to the right with the grid system as 1fr and 3fr*/
    font-family: 'Forzan', sans-serif;
    max-width: 100vw;
    height: 5rem;
    margin: 0 auto;
    background: #000;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100%;
    border-bottom: 1px solid white;
}
.brand{ /*The brand is the canberra modern logo, this is making it so the logo in centered within its grid template*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 12%;
}

.menuContainer{ /*This is centering the header text in their grid*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand a{
  text-decoration: none;
  color: white;
}

.first a{ /*This is styling the header text*/
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 1.1rem;
    /* font-weight: 600; */
    transition: 0.1s;
    margin: 0 40px 0 40px;
}

.first a:hover{ /*When hovering it changed to one of the CM logo colours*/
    color: salmon;
}

#underline{ /*This is setting the underline on the page that your are on. E.g. On Events page it will be underlined in the header*/
    text-decoration:underline;
    text-decoration-thickness: 2.5px;
    text-underline-offset: 6px;
}

/* Global Styles */
body {
    font-family: 'Forzan', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
  }
  
  /* Header Styles */
  /* header {
    padding: 20px;
  } */
  
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Forzan', sans-serif;
    text-align: center;
    align-items: center;
  }
  
  .hero h1 {
    font-size: 48px;
    text-decoration: underline 2px;
    text-underline-offset: 20px;
    margin-left: 100px;
  }

  .hero p {
    margin-top: 30px;
    letter-spacing: 4.5px;
    margin-left: 100px;
  }
  
  .hero img {
    max-width: 100%;
    height: auto;
    z-index: -2;
  }

  .about{
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Myna', sans-serif;
    text-align: center;
    align-items: center;
  }

  .about h2{
    font-size: 30px;
  }

  .about p{
    margin: 20px 20% 30px 20%;
    line-height: 25px;
    text-align: justify;
    font-size: 20px;
  }

  /* Variations */
  .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin: 0 20% 0 20%;
    padding-bottom: 100px;
    grid-gap: 1em;
  }

  .container img{
    width: 100%;
    height: 100%;
    transition: 0.3s;
  }

  .container img:hover{
    height: 90%;
    justify-items: center;
    align-items: center;
    padding-top: 10%;
  }
  
  .overlay h2{
    text-align: center;
  }

  /* Menu Styles */
  .menu {
    font-family: 'Forzan', sans-serif;
    padding: 20px;
  }
  
  .menu h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline 2px;
    text-underline-offset: 20px;
  }
  
  .menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-gap: 50px; */
    margin: 0 10%
  }
  
  .menu-card {
    background-color: transparent;
    padding: 20px;
    text-align: center;
    /* border: 2px solid #fff; */
    border-radius: 7.5px;
    /* box-shadow: 0 0 5px #fff; */
    transition: box-shadow 0.3s;
  }
  
  .menu-card:hover {
    box-shadow: 0 0 10px #fff;
  }
  
  .menu-card img {
    max-width: 50%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .menu-card h3 {
    font-size: 24px;
    margin: 0 20% 10px 20%;
  }
  
  .menu-card p {
    font-size: 16px;
    margin: 0px 20% 0px 20%;
    padding-bottom: 10px;
    text-align: justify;
  }

  .price{
    color: salmon;
  }

  /* Reservation */

 .contact{ /*Creating the contact form section*/
  font-family: 'Forzan', sans-serif;
    background-image: url(./images/reservation.jpg);
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.contact h3{
    color: #000;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    padding: 100px 0 30px 0;
    text-decoration: underline 2px;
    text-underline-offset: 20px;
}

form{ /*Aligning the form*/
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form input, textarea{ /*Styling the input and text boxes*/
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: rgba(0, 0, 0, .8);
    font-size: 16px;
    color: white;
}

form input::placeholder, textarea::placeholder{ /*Styling the input and text boxes*/
  color: white;
}

form button{ /*Styling the button to send the form*/
    padding: 15px;
    background: white;
    color: #000;
    font-size: 18px;
    border: 1px solid #000;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    margin: 20px auto 100px;
    border-radius: 30px;
}
form button:hover{ /*Styling the button to send the form*/
  background: salmon;
}

  /*FOOTER*/

footer{ /*Styling the footer*/
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  padding-top: 40px;
  color: #fff;
}
.footer { /*Styling the footer*/
  font-family: 'Product Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

/*Simple text styling for the footer*/
.footer p {
  max-width: 500px;
  line-height: 28px;
  font-size: 15px;
}
.email{
  margin: 20px 0 50px 0;
}
.line{
  height: 1px;
  background: white;
  width: 150px;
  margin-top: 20px;
}

/*This is the small social icons on the top of the footer*/
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3em 0 2rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
}
.socials a i {
  font-size: 1.1rem;
  transition: color .4s ease;

}
.socials a:hover i { /*Added a hover affect to on of the CM colours*/
  color: #f588a0;
}
@media(max-width:1400px){
  .menu-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .menu-card p {
    font-size: 16px;
    margin: 0px 20px 0px 20px;
  }
}

@media(max-width:1200px){
  .menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-gap: 50px; */
    margin: 0 10%
  }
}
@media(max-width:992px){

}
@media(max-width:830px){
  .brand {
    display: none;
  }
  .header { 
    grid-template-columns: 1fr;
}
.container{
  grid-template-columns: 1fr 1fr;
}
}
@media(max-width:700px){
  .menu-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
    margin: 0 10%
  }
  .menu-card p {
    font-size: 16px;
    margin: 0px 30px 0px 30px;
  }
  .hero h1 {
    margin-left: 0px;
  }

  .hero p {
    margin-left: 0px;
  }
}

@media(max-width: 567px){
  .hero {
    grid-template-columns: 1fr;
  }
  .hero img {
    display: none;
  }
  .hero h1 {
  margin-top: 50px;
  }
  .hero p {
  margin-bottom: 80px;
  }
}

@media(max-width: 400px){

}