.header { /*Styling the basics for the header, this is positioning the text to the left and the text to the right with the grid system as 1fr and 3fr*/
    font-family: 'Forzan', sans-serif;
    max-width: 100vw;
    height: 5rem;
    margin: 0 auto;
    background: #000;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100%;
    border-bottom: 1px solid white;
}

.brand{ /*The brand is the Kinoko text, this is making it so the logo in centered within its grid template*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 12%;
}

.menuContainer{ /*This is centering the header text in their grid*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand a{
  text-decoration: none;
  color: white;
}

.first a{ /*This is styling the navigation/header text*/
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 1.1rem;
    transition: 0.1s;
    margin: 0 40px 0 40px;
}

.first a:hover{ /*When hovering it changes to a differnt colour*/
    color: salmon;
}

/* Global Styles */

.body {
    font-family: 'Forzan', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
  }
  
  .hero { /* Setting the grid layout for the hero content*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Forzan', sans-serif;
    text-align: center;
    align-items: center;
  }
  
  .hero h1 { /*Styling Kinoko text*/
    font-size: 48px;
    text-decoration: underline 2px;
    text-underline-offset: 20px;
    margin-left: 100px;
  }

  .hero p { /*Styling bar & restaurant text*/
    margin-top: 30px;
    letter-spacing: 4.5px;
    margin-left: 100px;
  }
  
  .hero img { /*setting the max width for the image */
    max-width: 100%;
    height: auto;
    z-index: -2;
  }

  /*ABOUT*/

  .col-lg-12{ /*Setting up the about section*/
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Myna', sans-serif;
    text-align: center;
    align-items: center;
  }

  .col-lg-12 h2{ /*Setting the font size for the about title*/
    font-size: 30px;
  }

  .col-lg-12 p{ /*Styling the about paragraph for better readability*/
    margin: 20px 20% 30px 20%;
    line-height: 25px;
    text-align: justify;
    font-size: 20px;
  }

  /* Variations */

  #container2{ /*This is styling the preview on the webite of the four different dishes*/
    padding-bottom: 100px;
    grid-gap: 1em;
  }

  .container img{ /*Setting the images percetnages and transition time when hovering*/
    /* width: 100%;
    height: 100%; */
    transition: 0.3s;
  }

  .container img:hover{ /*When the user hovers over the image is gets samller by 10%*/
    /* height: 90%; */
    /* justify-items: center;
    align-items: center; */
    padding-top: 10%;
  }

  /* Menu Styles */

  .menu { /*Setting the font family for the manu section*/
    font-family: 'Forzan', sans-serif;
    /* padding: 20px; */
    margin: 0 10%
  }
  
  .menu h2 { /*Styling the headings for the menu section*/
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline 2px;
    text-underline-offset: 20px;
  }
  
  .menu-grid { /*Setting up the grid for the menu (was orgionally going to start as a 3 line grid but changes to 4)*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* margin: 0 10% */
  }
  
  .menu-card { /*Styling the cards that the menu items are on (they a viewable when hovering on)*/
    background-color: transparent;
    padding: 20px;
    text-align: center;
    border-radius: 7.5px;
    transition: box-shadow 0.3s;
  }
  .col-lg-3{
    background-color: transparent;
    padding: 20px;
    text-align: center;
    border-radius: 7.5px;
    transition: box-shadow 0.3s;
  }
    .col-lg-3 img{
      max-width: 75%;
      padding-bottom: 10px;
  }
 
  .menu-card:hover { /*Applying a shadow when hovering over the card*/
    box-shadow: 0 0 10px #fff;
  }
  
  .menu-card img { /*Styling the menu images*/
    max-width: 50%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .col-lg-3 h3 { /*Styling the menu text*/
    font-size: 24px;
    margin: 0 20% 10px 20%;
  }
  
  .menu-card p { /*Styling the menu description*/
    font-size: 16px;
    margin: 0px 20% 0px 20%;
    padding-bottom: 10px;
    text-align: justify;
  }

  .price{ /*Setting the price colour*/
    color: salmon;
  }

  /* Reservation */

 #container{ /*Creating the reservation form section*/
  font-family: 'Forzan', sans-serif;
    background-image: url(./images/reservation.jpg); /*Applying the background image*/
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: white;
}

.container h3{ /*Styling the text*/
    color: #000;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    padding: 100px 0 30px 0;
    text-decoration: underline 2px;
    text-underline-offset: 20px;
}

.form-control input::placeholder, textarea::placeholder{ /*Styling the input and text boxes*/
  color: white;
}

.text-center button{ /*Styling the button to send the form*/
    padding: 15px;
    background: white;
    color: #000;
    font-size: 18px;
    border: 1px solid #000;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    margin: 20px auto 100px;
    border-radius: 30px;
}
.text-center button:hover{ /*Styling the button to send the form on hover*/
  background: salmon;
}

  /*FOOTER*/

footer{ /*Styling the footer*/
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  padding-top: 40px;
  color: #fff;
}
.footer { /*Styling the footer*/
  font-family: 'Product Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

/*Simple text styling for the footer*/
.footer p {
  max-width: 500px;
  line-height: 28px;
  font-size: 15px;
}
.email{
  margin: 20px 0 50px 0;
}
.line{
  height: 1px;
  background: white;
  width: 150px;
  margin-top: 20px;
}

/*This is the small social icons on the top of the footer*/
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3em 0 2rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
}
.socials a i {
  font-size: 1.1rem;
  transition: color .4s ease;

}
.socials a:hover i { /*Added a hover affect to the social icons so the user knows its clickable*/
  color: salmon;
}

/*MEDIA QUERIES FOR ADJUTING SIZE ONTO DIFFERNT SCREENS*/

@media(max-width:830px){ /*Changing the header so the Kinoko is gone from the top left and the menu andreservation tabs are centered*/
  .brand {
    display: none;
  }
  .header { 
    grid-template-columns: 1fr;
}
}
@media(max-width:700px){ /*Changing the 2 grid layout into a 1 */
  .hero h1 { /*Resting some margins on smaller screens*/
    margin-left: 0px;
  }
  .hero p {
    margin-left: 0px;
  }
}
@media(max-width: 567px){ /*Removing the image from the hero content for readabiltiy on smaller screens*/
  .hero {
    grid-template-columns: 1fr;
  }
  .hero img {
    display: none;
  }
  .hero h1 { /*Setting some margins for readbiltiy on smaller screens*/
  margin-top: 50px;
  }
  .hero p {
  margin-bottom: 80px;
  }
}
